<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    welcome to QR Generation website
    <a href="/generate">
    <button>
        To generate QR Code
    </button></a>
    <a href="/read">
    <button>

        To Read QR Code 
    </button></a>
</body>
</html>